<!DOCTYPE html>
html
  head
    include includes/header.pug

  body(class="body-bg")
    include includes/menu.pug

    // HTML Page content
    div(class="container-fluid" id="#")
      include includes/notifications.pug
      
      div(class="row" id="home")
        div(class="col-xs-10 col-cs-offset-1 col-sm-10 col-sm-offset-1 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 body-element" id="test-mail")
          div(class="console-title"): h1 Verifica la connessione SMTP
          p Effettua una prova di connessione con i parametri che hai inserito
          form(action="/mail/verify" method="POST" class="text-center")
            div(class="btn-group btn-group-lg")
              input(type="submit" value="Verifica connessione SMTP" class="btn btn-default")

        div(class="col-xs-10 col-cs-offset-1 col-sm-10 col-sm-offset-1 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 body-element" id="send-mail")
          div(class="console-title"): h1 Invia gli inviti tramite SMTP
          p Invia le e-mail agli invitati inseriti
          form(action="/mail/send" method="POST" class="text-center")
            div(class="btn-group btn-group-lg")
              input(type="submit" value="Invia" class="btn btn-default")

      // Database initialization
      div(class="row" id="initialize")
        div(class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offet-2 col-lg-8 col-lg-offset-2 body-element")
          div(class="console-title"): h1 Inizializza il database
          p Effettua l'inizializzazione del database (nel caso ci siano stati problemi durante la prima connessione al database)
          form(action="/console/init" method="POST")
            div(class="btn-group btn-group-lg" role="group")
              input(type="submit" value="Inizializza" class="btn btn-default")

      include includes/footer.pug
      
      script
        include ../../utilities/functions.js