<!DOCTYPE html>
html
  head
    include includes/header.pug

  body(class="body-bg")
    include includes/menu.pug

    // HTML Page content
    div(class="container-fluid")
      div(class="row" id="home")
        div(class="col-xs-12 col-sm-12 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2 body-element text-center" id="presentation")
          p Con immensa gioia vogliamo invitarti al nostro 
            b matrimonio
            | !
          | La cerimonia verrà celebrata con il rito civile a cui seguirà il pranzo dove potremo festeggiare insieme.
          p Di seguito troverai tutte le informazioni per poterci raggiungere.
          p: u Ti aspettiamo!!!
        div(class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1 body-element" id="quote")
          blockquote Quando l’amore vi chiama seguitelo, e quando le sue ali vi avvolgono affidatevi a lui e quando vi parla abbiate fede in lui.
            footer(class="text-right") Kahlil Gibran
        
          blockquote Se tardi a trovarmi insisti, se non ci sono in un posto, cerca in un altro, perché io sono fermo da qualche parte ad aspettare te.
            footer(class="text-right") Walt Whitman
      // Where
      div(class="row" id="where")
        div(class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offet-2 col-lg-8 col-lg-offset-2 body-element")
          div(class="body-title"): h1 Dove:
          p La cerimonia ed il ricevimento si terranno alla 
            a(href="http://www.locandafienilidelcampiaro.it/") Locanda dei Fienili del Campiaro
          p presso: Località Campiaro, 112/C, 40030 Grizzana Morandi BO
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2857.2507354013273!2d11.1464933158893!3d44.26366097910517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132ac4d992861b8b%3A0xa48831a432ba3d4f!2sLocanda+dei+Fienili+del+Campiaro!5e0!3m2!1sit!2sit!4v1498075104558" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen)
      // When
      div(class="row" id="when")
        div(class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offet-2 col-lg-8 col-lg-offset-2 body-element")
          div(class="body-title"): h1 Quando:
          p Ti aspettiamo il giorno 
            b Domenica 8 ottobre 2017 alle ore 11.30
          br
          div(class="text-center")
            p(style="font-size:32px") Unisciti a noi nel conto alla rovescia!
            p(style="font-size:26px") Mancano ancora...
              br
              br
              p(id="countdown" style="font-size:40px")

    include includes/footer.pug
      
      script
        include ../../utilities/functions.js