<!DOCTYPE html>
html
  head
    include includes/header.pug

  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
  link(href="https://fonts.googleapis.com/css?family=Poppins", rel="stylesheet")
  link(href="CSS/wedding.css", rel="stylesheet")
  
  body(class="body-bg")
    include includes/menu.pug

    include includes/notifications.pug

    // HTML Page content
    div(class="container-fluid" id="login")
      div(class="row")
        // Login form
        div(class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offet-3 col-lg-6 col-lg-offset-3 body-element")
          div(class="body-title"): h1 Effettua il login
          p Loggati per accedere alla console di amministrazione
          form(action="/login" method="POST" type="application/x-www-form-urlencoded")
            div(class="form-group")
              label(for="username") Username 
              input(name="Username" type="text" id="username" class="form-control")
            div(class="form-group")
              label(for="password") Password
              input(name="Password" type="password" id="password" class="form-control")
            button(type="submit" value="Invia" class="w3-button w3-block w3-padding-large w3-pearl w3-margin-bottom") Invia
            button(type="reset" value="Cancella" class="w3-button w3-block w3-padding-large w3-pearl w3-margin-bottom") Cancella

      include includes/footer.pug
      
      script
        include ../../utilities/functions.js