<!DOCTYPE html>
html
  head
    include includes/header.pug
  
  body(class="body-bg")
    include includes/menu.pug

    // HTML Page content
    div(class="container-fluid")
      include includes/notifications.pug
      // RSVP form
      div(class="row")
        div(class="col-xs-12 col-sm-12 col-md-6 col-md-offet-3 col-lg-6 col-lg-offset-3 body-element" id ="rsvp")
          div(class="body-title"): h1 Parteciperai al matrimonio?
          p Facci sapere se parteciperai al matrimonio, 
          // Form
          form(action="/guest/rsvp" method="POST" type="application/x-www-form-urlencoded")
            div(class="form-group")
              label(for="email")  Email: 
              input(name="email" type="text" id="email" class="form-control")
            div(class="form-group")
              label(for="token")  Token di autenticazione:
              input(name="token" type="text" id="token" class="form-control")
            div(class="form-group")
              label(for="expected")  Numero di partecipanti:
              input(name="expected" type="text" id="expected" class="form-control")
            div(class="w3-section")
              label(for="presence") Parteciperai?
              select(name="presence" class="form-control")
                option(value="Y") Parteciperò
                option(value="M") Forse
                option(value="N") Non parteciperò
              br
            div(class="btn-group btn-group-lg" role="group")
              button(type="submit" value="Invia" class="btn btn-default") Invia
              button(type="reset" value="Cancella" class="btn btn-default") Cancella

      include includes/footer.pug

      script
        include ../../utilities/functions.js