body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif
}

body {
  font-size: 22px;
}

.background-image {
  background-image: url(../images/wedding-background8.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  /* For WebKit*/
  -moz-background-size: cover;
  /* Mozilla*/
  -o-background-size: cover;
  /* Opera*/
  background-size: cover;
  /* Generic*/
}

/* Backgrounds */
.menu-bg {
  background-color: #d5c090;
  background-repeat: no-repeat;
}

.body-bg {
  background-color: #d5c090;
  background-repeat: no-repeat;
  padding-top: 45px;
}

.footer-bg {
  background-color: #d5c090;
  background-repeat: no-repeat;
}

/* Elements */
.body-element {
  margin-top:75px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

.notification-element {
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}

.body-title {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #000000;
  border-color: #d5c090;
  font-size: 20 px;
  background-image: url(../images/wedding-background8.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  /* For WebKit*/
  -moz-background-size: cover;
  /* Mozilla*/
  -o-background-size: cover;
  /* Opera*/
  background-size: cover;
  /* Generic*/
}

.header-title {
  border-radius: 25px;
  border-style: solid;
  border-color: #d5c090;
  font-size: 20 px;
  background-image: url(../images/wedding-background8.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  /* For WebKit*/
  -moz-background-size: cover;
  /* Mozilla*/
  -o-background-size: cover;
  /* Opera*/
  background-size: cover;
  /* Generic*/
}
.console-title {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #000000;
  border-color: #d5c090;
  font-size: 20 px;
  background-color: #d5c090;
  background-repeat: no-repeat;
}

/* Fonts */
.menu-font {
  font-size: 20px;
  color: #000000;
}

.menu-font-hover:hover {
  color: #000000!important;
  background-color: #ffffff!important
}

/* Paddings */
.menu-padding {
  padding: 15px 50px;
}

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #d5c090;
  border-right: 2px solid #d5c090;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

.affix {
  top: 0;
  width: 100%;
}

.affix-top {
  width: 100%;
}

.affix-bottom {
  position: absolute;
  width: 100%;  
}

.w3-half img {
  margin-bottom: -6px;
  margin-top: 16px;
  opacity: 0.8;
  cursor: pointer
}

.w3-half img:hover {
  opacity: 1
}

.pearl,
.pearl-hover:hover {
  color: #808080!important;
  background-color: #d5c090!important
}

.pearl-text {
  color: #d5c090!important
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
  position: relative;
  padding-left: 95px;
  cursor: pointer;
}

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before,
[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
  content: '';
  position: absolute;
}

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
  left: 0;
  top: 0;
  width: 80px;
  height: 30px;
  background: #DDDDDD;
  border-radius: 6px;
  transition: background-color .2s;
}

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
  width: 30px;
  height: 30px;
  transition: all .2s;
  border-radius: 6px 0 0 6px;
  background: #7F8C9A;
  top: 0;
  left: 0;
}


/* on checked */

[type="checkbox"]:checked+label:before {
  background: gray;
}

[type="checkbox"]:checked+label:after {
  background: #d5c090;
  top: 0;
  left: 51px;
  border-radius: 0 6px 6px 0;
}

[type="checkbox"]:checked+label .ui,
[type="checkbox"]:not(:checked)+label .ui:before,
[type="checkbox"]:checked+label .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  transition: all .2s;
}

[type="checkbox"]:not(:checked)+label .ui:before {
  font-family: 'FontAwesome';
  content: "\f00d";
  left: 46px;
  margin-top: 3px;
}

[type="checkbox"]:checked+label .ui:after {
  font-family: 'FontAwesome';
  content: "\f00c";
  color: #d5c090;
  margin-top: 3px;
  left: 12px;
}

[type="checkbox"]:focus+label:before {
  border: 0;
  outline: 0;
  box-sizing: border-box;
}