div(class="row")
    div(class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1")
        div(class="footer footer-bg" style="margin-top:75px")
            p(class="text-right") Sito creato da Alessandro Antonello Ivaldi