div(class="row")
    div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
        div(class="footer footer-bg" style="margin-top:75px")
            p(class="text-right") Sito creato da Alessandro Antonello Ivaldi