div(id="error-modal" class="modal fade" role="dialog")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header alert-danger")
        button(type="button" class="close" onclick="clear_notification()") &times;
        h4(class="modal-title") ERRORE!
      div(class="modal-body")
        p #{notification.message}
      div(class="modal-footer")
        button(type="button" class="btn btn-default" onclick="clear_notification()") Chiudi

div(id="notification-modal" class="modal fade" role="dialog")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header alert-success")
        button(type="button" class="close" onclick="clear_notification()") &times;
        h4(class="modal-title") ESECUZIONE TERMINATA!
      div(class="modal-body")
        p #{notification.message}
      div(class="modal-footer")
        button(type="button" class="btn btn-default" onclick="clear_notification()") Chiudi

if notification.show
  if notification.error === true
    script $('#error-modal').modal('show')
  if notification.error === false
    script $('#notification-modal').modal('show')